/* --- Common --- */
body {
    --code-primary: #2297F3;
    --code-primary-light: #64B5F6;
    --art-primary: rgb(255, 99, 232);
    --art-primary-light: rgb(255, 122, 235);
    --art-surface: #F7F2FA;
    --bg-dark: #211d22;
    --white: #fcfcfc;
    --white-surface: #f3f3f3;
    --black: #121212;
}

/* Art color palette */
body {
    --art-primary: #a12f81;
    --art-primary-container: #ffd8ec;
    --art-on-primary-container: #7b4998;

    --art-secondary: #7b4998;
    --art-secondary-container: #f5d9ff;
    --art-on-secondary-container: #30004a;

    --art-tertiary: #3a5ba9;
    --art-tertiary-container: #dae2ff;
    --art-on-tertiary-container: #001847;
}

body {
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
q,
a {
    font-family: 'Roboto';
    color: var(--white);
}

.flex-grow {
    flex-grow: 1;
}

/* --- Button --- */
.button {
    background-color: var(--code-primary);

    margin: 1rem;
    padding: .5rem 2rem;
    box-sizing: border-box;

    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, .12);

    transition: all 200ms ease;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button:hover {
    transform: translateY(-4px);
    box-shadow: 0 16px 18px rgba(0, 0, 0, .1);
}

.button p {
    color: var(--white);
}

/* Tiny displacement for icons within a button */
.button .material-symbols-outlined {
    transform: translateY(2px);
}

.button>* {
    padding: 0;
    margin: 0;
    display: block;
}

.button>*:nth-child(2) {
    margin-left: 8px;
}

.button-home {
    position: absolute;
}

/* --- Main --- */
body {
    background-color: var(--white-surface);
}

h1 {
    /* align-self: center; */
    text-align: center;
}

h1,
h3 {
    color: var(--black);
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2.5rem 1rem;
    box-sizing: border-box;
}

.content {
    flex-grow: 1;

    max-width: 38rem;
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.content .button {
    font-size: 1.4rem;
}

.button-secondary {
    border: solid #ddd 1px;
    background-color: var(--white);
}

.button-secondary p {
    color: var(--black);
}

.talk {
    background-color: var(--code-primary-light);
    border-radius: 1rem;
    padding: 1rem;
    margin-top: 1rem;

    box-shadow: 0 8px 12px rgba(0, 0, 0, .12);
}

/* .content:first-child {
    margin-top: 0;
} */

.talk-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.talk h4 {
    font-size: larger;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.talk-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.talk-links a {
    margin: 0 1rem;
    font-weight: bold;
    color: var(--white);
    text-decoration: underline;
}

.video {
    width: 100%;
    aspect-ratio: 16/9;
}